/* =======btn======= */

.calling_btn {
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  margin: 0 8px;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 8px;
  width: 48px;
  cursor: pointer;
  outline: none;
  background-color: var(--button-bg);
}

#toggle-local-cam {
  display: none;
}

#toggle-local-cam + div {
  color: red;
}

#toggle-local-cam:checked + div {
  color: rgb(1, 250, 63);
}

#toggle-local-audio {
  display: none;
}

#toggle-local-audio + div {
  color: red;
}

#toggle-local-audio:checked + div {
  color: rgb(1, 250, 63);
}

.btn-toggle {
  margin: 20px;
  width: 30px;
  height: 30px;
}

.nav-meeting-bar {
  width: 50vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#local-video {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* =========Gridview======= */
#meeting-page {
  height: 100vh;
}
#meeting-page_section_remote {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.remote-peer-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  min-width: 10%;
  flex-basis: 20%;
}
.remote-peer-container:first-of-type {
  flex-basis: 100%;
}

.remote-peer-container video {
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
#meeting-page_section_remote {
  /* grid-template-columns: 1fr 1fr; */
}
