/* =======btn======= */

.calling_btn {
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  margin: 0 8px;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 8px;
  width: 48px;
  cursor: pointer;
  outline: none;
  background-color: var(--button-bg);
}

#toggle-local-cam {
  display: none;
}

#toggle-local-cam + div {
  color: red;
}

#toggle-local-cam:checked + div {
  color: rgb(1, 250, 63);
}

#toggle-local-audio {
  display: none;
}

#toggle-local-audio + div {
  color: red;
}

#toggle-local-audio:checked + div {
  color: rgb(1, 250, 63);
}

.btn-toggle {
  margin: 20px;
  width: 30px;
  height: 30px;
}

.nav-meeting-bar {
  width: 50vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#meeting-page_section_local {
  padding-bottom: 50px;
}

#meeting-page_section_remote {
  padding-bottom: 50px;
}

#local-video {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* =========Gridview======= */
#meeting-page_section_remote {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.remote-peer-container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.remote-peer-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
