/* =======btn======= */

.calling_btn {
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  margin: 0 8px;
  box-shadow: var(--navigation-box-shadow);
  border-radius: 8px;
  width: 48px;
  cursor: pointer;
  outline: none;
  background-color: var(--button-bg);
}

#toggle-local-cam {
  display: none;
}

#toggle-local-cam+div {
  color: red;
}

#toggle-local-cam:checked+div {
  color: rgb(1, 250, 63);
}

#toggle-local-audio {
  display: none;
}

#toggle-local-audio+div {
  color: red;
}

#toggle-local-audio:checked+div {
  color: rgb(1, 250, 63);
}

.btn-toggle {
  margin: 20px;
  width: 30px;
  height: 30px;
}

#ctrl_local {
  width: 50vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#local-video {
  height: 70%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#meeting-page_section_local {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#meeting-page_section_local.aside {
  padding: 0;
  position: fixed;
  bottom: 20px;
  left: 0px;
  width: auto;
  height: 200px;
}

#meeting-page_section_local.aside #local-video {
  height: 100%;
}

#meeting-page_section_remote {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.remote-peer-container {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
  width: 20%;
}

.remote-video-ctrl {
  position: absolute;
}

.remote-peer-container:first-of-type {
  flex-basis: 100%;
  width: 80%;
}

.remote-peer-container video {
  height: 90%;
  max-width: 100%;
  width: auto;
  border-radius: 10px;
}