#main-page {
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}
section{
    height: 100%;
}
#section-left{
    width: 35%;
}
#section-right{
    width: 65%;
}