@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main-page_container {
  display: flex;
  position: relative;
  width: 1396px;
  max-width: 100%;
  height: calc(100vh - 40px);
  background: var(--background-color);
  transition: 0.5s;
  padding: 5px;
}

#section-left {
  position: relative;
  flex: 30%;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
}

#section-right {
  position: relative;
  flex: 70%;
  z-index: 100;
  background: var(--background-color);
}

.btn {
  margin-left: 0%;
  color: var(--theme-color);
  cursor: pointer;
  list-style: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.btn :hover {
  color: color-mix(in srgb, var(--text-color) 50%, var(--theme-color) 50%);
}
