.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.message .lazyload-element {
  width: 100%;
}

.inchat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message_left {
  width: 40px;
  display: flex;
  justify-content: right;
}

.message_right {
  display: flex;
  width: calc(100% - 40px);
  flex-direction: column;
  position: relative;
  padding: 0 4% 4% 4%;
}

.message_item {
  display: flex;
  background: color-mix(in srgb,
      var(--background-color) 60%,
      var(--theme-color) 40%);
  width: max-content;
  border-radius: 10px;
  max-width: 80%;
  padding: 0.5rem;
  position: relative;
}

.message_right.out {
  align-items: end;
}

.message_right.out .message_item {
  background-color: var(--theme-color);
}

.message_right.in .message_item {
  background: color-mix(in srgb,
      var(--background-color) 60%,
      var(--theme-color) 40%);
}

.message_content {
  word-wrap: break-word;
  white-space: pre-line;
  width: 100%;
}

.message_timestamp {
  bottom: 0;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.message_seenby {
  bottom: 0;
  position: absolute;
  transition: 0.5s;
}

.message:hover .message_timestamp {
  opacity: 1;
}

.message:hover .message_seenby {
  opacity: 0;
}

.message_right.in .message_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg,
      color-mix(in srgb, var(--background-color) 60%, var(--theme-color) 40%) 0%,
      color-mix(in srgb, var(--background-color) 60%, var(--theme-color) 40%) 50%,
      transparent 50%,
      transparent);
}

.message_right.out .message_content::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg,
      var(--theme-color) 0%,
      var(--theme-color) 50%,
      transparent 50%,
      transparent);
}