.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  width: 60vw; /* Adjust width as needed */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  background-color: #f0f0f063; /* Optional background */
  text-align: center; /* Align text and button */
  color: black;
  font-size: 30px;
}

#precall_btn {
  margin-top: 10%;
  width: 50%; /* Make button full width */
  padding: 20px 40px; /* Adjust padding for button size */
  border-radius: 25px; /* Rounded corners for button */
  background-color: #29006b; /* Green background */
  color: white; /* White text */
  border: none; /* Remove default border */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 30px;
}
