#chat-box_input-container {
    width: 90%;
    position: relative;
    background-color: transparent;
    align-self: center;
    margin-bottom: 20px;
    display: flex;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    background-color: var(--background-color);
    border: 1px solid var(--theme-color);
    border-radius: 5px;
}

#input_message {
    height: 2.3rem;
    width: 100%;
    padding: 5px;
    color: var(--text-color);
    background-color: transparent;
    border-bottom: solid 1px rgba(128, 128, 128, 0.353);
    transition: 0.5s;
}

#input_message:hover,
#input_message:focus {
    border-bottom: solid 1px grey;
}