#chat-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 200;
}


#chat-box_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: calc(100% - 12rem);
  margin-bottom: 6.3rem;
  margin-left: 1rem;
  border-radius: 1rem;
  opacity: 0.5;
  z-index: -100;
  background-color: var(--theme-color);
  box-shadow: 0 1px 3px 3px inset black;
}