#chat-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;

}

.inchat-avatar {
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.input-container {
    width: 80%;
    align-self: center;
    margin-bottom: 50px;
}

#messages-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
    scroll-margin-top: 300px;
}

.input-field {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-button {
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    display: flex;
    width: 100%;
    position: relative;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
}


.message.own {
    justify-content: flex-end;
}

.message_wrapper {
    display: flex;
    background-color: var(--background-color);
    width: fit-content;
    border-radius: 1rem;
    padding: 0.5rem;
}

.message.own .message_wrapper {
    background-color: var(--theme-color);
}

.message_timestamp {
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.message:hover .message_timestamp {
    opacity: 1;
}

#chat-box_topbar {
    height: 6rem;
    padding: 1rem;
    justify-content: space-between;
}
#chat-box_topbar_left{
    width: auto;
    display: flex;
}
#chat-box_topbar_left .btn{
    margin-left: 1rem;
}

#chat-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6rem);
    opacity: 0.5;
    z-index: -100;
    background-color: var(--theme-color);
}