.opts-wrapper {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    right: 0;
}

.chat-room_opts {
    height: 100%;
    display: none;
}

.checkbox_label {
    height: 100%;
    display: flex;
    align-items: center;
    order: 2;
    background-color: transparent;
}


.opts-wrapper i {
    font-size: xx-large;
}

.checkbox_label:hover,
.checkbox_label:focus,
.checkbox:checked~.checkbox_label {
    background-color: rgb(5, 61, 61);
}
.checkbox_label:active{
    background-color: rgb(42, 167, 167) !important;
}

.checkbox:checked~.chat-room_opts {
    display: flex;
    flex-direction: column;
}

.chat-room_opts_btn {
    overflow-x: hidden;
    width: 70px;
    height: 50%;
    border: none;
    color: var(--text-color);
}


.chat-room_opts_btn.leave {
    background-color: rgba(255, 255, 0, 0.5);
    animation: slip-in 0.3s ease-in-out;
}

.chat-room_opts_btn.leave:hover {
    background-color: rgba(255, 255, 0, 0.75);
}

.chat-room_opts_btn.delete {
    background-color: rgba(255, 0, 0, 0.5);
    animation: slip-in 0.3s ease-in-out;

}

.chat-room_opts_btn.delete:hover {
    background-color: rgba(255, 0, 0, 0.75);
}
@keyframes slip-in {
    from {
        width: 0px;
    }

    to {
        width: 70px;
    }
}