#topRef {
    display: none;
    justify-content: center;
}

#btn_scroll {
    display: none;
    justify-self: center;
    align-self: center;
}

#messages-container {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 5rem;
    overflow-y: auto;
}