#room-maker {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.chosenUser {
    border: solid purple;
}

.chosenUser>span {
    margin-left: 10px;
    border: solid red;
}